@inherits LayoutComponentBase

<main style="overflow:hidden margin:0 auto">
    <style>
        body {
            background-image: url('https://i.hizliresim.com/hgn668h.jpg');
            background-size: cover; /* Resmin ekranı tamamen kaplamasını sağlar */
            background-position: center; /* Resmin ortalanmasını sağlar */
            background-repeat: no-repeat; /* Resmin tekrarlanmamasını sağlar */
            height: 100vh; /* Sayfanın tamamını kaplar */
            margin: 0;
        }
    </style>

	@Body
</main>